name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm ci
    - run: npm test

  build:
    runs-on: ubuntu-latest
    needs: test
    strategy:
      matrix:
        platform: [linux-x64, windows-x64, macos-x64]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: npm ci
      - name: Build the binary
        run: npm run build -- -t node14-${{ matrix.platform }}
      - name: Check the binary
        run: file ./dist/*